<!DOCTYPE html>
<html lang = 'en' xmins = "http://www.w3.org/1999/xhtml" style="width = auto;">
<meta http-equiv ="Content-type" content="text/html" charset= "utf-8">
<head>
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/argus.png">
	<meta charset = "utf-8"/>
	<title> Just a bit of a side-project, but will try to keep updating regularly! </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	.bg-1{
		background-image: url('/static/images/legionwallpaper.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: relative;
	}
	td{
		text-align: left;
		padding: 0;
		margin: 0;
		border-collapse: collapse;
		border-spacing: 0;
	}
	</style>
	<img src="https://fontmeme.com/permalink/170829/c0e1bd8dac7cfed80753e283cc729a7d.png" alt="world-of-warcraft-font" border="0" align="center">
</head>
<body class = "container-fluid bg-1">
<div style = "background-color: black; color:green; padding: 20px; opacity: 0.5; margin-right: -15px; margin-left: -15px;" >
	<table>
	{% for row in done %}
		<tr>
			<td>{{row}}<br/><br/></td>
		</tr>
	{% endfor %}
	</table>
</div>
</body>
<footer>
	<div style = "color: green; opacity: 0.5; text-align: center;">
		<p>&copy;HK Productions 2017 <br> All the information used was gathered from multiple websites (wowwiki, wowpedia, and wowprogress, respectively), which were cited at the top of the page via links.<br>Special thanks to fontmeme.com for allowing me to not spend hours in gimp for a title sequence!</p>	
	</div>
</footer>
</html>